  
    /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
    /*bootstrap使用宣言*/
    
    @import "bootstrap";
    /*ヘッダー関係*/
    .whole-page{
        min-width: 500px;;
    }

    .whole-head {
        font-size: large;
        background: rgb(255, 255, 255);
        top: 0;
        z-index: 100;
        border-radius: 0 0 20px 20px;
        //min-width: 700px;
        //margin: 0 auto;
        min-width: 500px;
    }
    
    .header-contents {
        position: relative;
        display: table;
        //width: 90%;
        justify-content: space-between;
        border-radius: 0 0 20px 20px;
    }
    
    //ヘッダーがずれないようにヘッダーの下に潜り込ませるヘッダー
    .header-center {
        position: relative;
        color: #FFF;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        border-radius: 0 0 20px 20px;
    }
    
    //ヘッダーがずれないようにヘッダーの下にも繰り込ませるヘッダー
    .header-right {
        position: relative;
        color: #FFF;
        text-align: right;
        font-size: 0.7em;
    }
    
    //ヘッダーを画面に固定するためのCSS
    .site-header {
        background: #03A9F4;
        top: 0;
        position: fixed;
        min-width: 500px;
        //margin: 0 auto;
        z-index: 100; //他のものより上に来るようにする
        border-radius: 0 0 20px 20px;
    }
    
    .ribbon1 {
        display: inline-block;
        position: absolute;
        left: 3em;
        z-index: 2;
        width: 40px;
        text-align: center;
        font-size: 17px;
        color: white;
        background: #ff785b;
    }
    
    .ribbon1:after {
        position: absolute;
        left: 0;
        top: 100%;
        height: 0;
        width: 0;
        border-left: 20px solid #ff785b;
        border-right: 20px solid #ff785b;
        border-bottom: 10px solid transparent;
    }
    
    .ribbon2 {
        display: inline-block;
        position: absolute;
        right: 3em;
        z-index: 2;
        width: 40px;
        text-align: center;
        font-size: 17px;
        color: white;
        background: #ff785b;
    }
    
    .ribbon2:after {
        position: absolute;
        left: 0;
        top: 100%;
        height: 0;
        width: 0;
        border-left: 20px solid #ff785b;
        border-right: 20px solid #ff785b;
        border-bottom: 10px solid transparent;
    }
    /* 右のメニューバー（画面固定） */
    
    .left-sidebar {
        position: fixed;
        margin-top: 1em;
        margin-left: 1em;
        z-index: 2;
        text-align: center;
        background: #DDFFFF;
        border: solid 2px #03A9F4;
        border-radius: 10px;
        border-color: #0033FF;
    }
    
    .left-sidebar .title {
        font-size: 1.2em;
        background: #03A9F4;
        padding: 4px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 5 5 0 0;
        border-bottom: solid 2px #0033FF;
    }
    
    .left-sidebar .menu {
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    
    .left-sidebar img {
        margin-top: 0.2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 8em;
    }
    
    //ページのメインとなる部分
    .main-content {
        position: relative;
        padding-left: 1em;
        padding-top: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        min-width: 450px;
        border-radius: 1em;
        border: solid 2px #03A9F4;
        border-color: #0033FF;
        background: rgb(255, 255, 171);
        //margin-left: 10em; //レフトバーとかぶらないように
        z-index: 3;
    }
    
    .main-content .title {
        font-size: 2em;
        text-align: center;
        border-bottom: dashed 1px;
        margin-bottom: 0.5em;
    }
    /*ユーザー登録部分*/
    
    .user-zone {
        position: relative;
        margin: 2em 1em 0em;
        padding: 0.5em 1em;
        border: solid 3px #95ccff;
        background: #fff0cd;
        border-radius: 8px;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .user-zone .user-zone-title {
        position: relative;
        padding: 0 9px;
        font-size: 19px;
        background: #FFF;
        color: #319bff;
        border: solid 3px #95ccff;
        border-radius: 3px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        top: -1.4em;
    }
    
    .user-zone .user-zone-main {
        position: relative;
        top: -1.0em;
    }
    
    .user-zone p {
        margin: 1px;
        padding-top: 5px;
    }
    /*チャットコメントテーブル全体*/
    
    .chat_zone {
        display: block;
        background: #fff0cd;
        box-shadow: 0px 0px 0px 10px #fffde8;
        /*線の外側*/
        border: solid 3px #95ccff;
        border-radius: 3px;
        padding: 1ex;
    }
    
    .chat_zone .chat_zone-title {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        border-bottom: dashed 2px #95ccff;
        border-radius: 9px;
        padding: 4px;
        text-align: center;
        color: #319bff;
        font-weight: bold;
        letter-spacing: 0.05em;
    }
    
    .chat_zone p {
        padding: 15px 20px;
        margin: 0;
    }
    /*各コメント部分の吹き出し*/
    
    .balloon1 {
        position: relative;
        display: inline-block;
        margin: 0.1em;
        color: #555;
        font-size: 16px;
        background: #e0edff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }
    
    //吹き出し部分
    .balloon1:before {
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }
    
    //吹き出しのサイズ調整
    .balloon1 p {
        padding: 0.5em;
    }
    
    .chat_input {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_center {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text_center {
        text-align: center;
        margin: 0;
    }
    /* ボタン関係 */
    
    .square_btn {
        position: relative;
        display: inline-block;
        margin-top: 0.1em;
        margin-right: 0.5em;
        padding: 0.25em 0.5em;
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: #FFF;
        background: #03A9F4;
        transition: .4s;
        border: solid 1px #00bcd4;
        border-radius: 10px;
    }
    
    .square_btn:hover {
        background: #668ad8;
        border: solid 1px #668ad8;
    }
    /* テーブル */
    
    table {
        border-collapse: separate;
        word-break: break-word;
        word-wrap: break-word;
    }
    
    td,
    th {
        padding: 3px, 3px;
        min-width: 100px;
    }
    
    //コメント欄の名前、削除のサイズ確保
    .min_td {
        min-width: 50px;
        word-break: normal;
        word-wrap: normal;
    }
    
    input[type="text"] {
        width: 180px;
        height: 40px;
    }
    
    input[type="password"] {
        width: 180px;
        height: 40px;
    }